<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" existingResponse="Auto" />
        <handlers>
            <remove name="PHP53_via_FastCGI" />
            <add name="PHP53_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Champion">
                    <match url="champions(?:\/)(.)(?:^\/|\/*)(.*)" />
                    <action type="Rewrite" url="/champions/index.php?letter={R:1}&amp;champ={R:2}" appendQueryString="true" />
                    <conditions trackAllCaptures="true">
                    </conditions>
                </rule>
                <rule name="Items">
                    <match url="items(?:\/)(.)(?:^\/|\/*)" />
                    <action type="Rewrite" url="/items/index.php?item={R:1}" appendQueryString="true" />
                    <conditions trackAllCaptures="true">
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
